.headerbar{background-image: url('https://images2.imgbox.com/88/98/Lk3wXXPJ_o.png')!important;}
body, html{
    background: linear-gradient(#00000094, transparent 90%), url(https://i.guim.co.uk/img/media/47223565543cec7bd413bf0e0ae87218a9eaf228/0_216_4896_2938/master/4896.jpg?width=1200&height=900&quality=85&auto=format&fit=crop&s=6701dc5ca9f188751d29b639acbe4264), black!important;
    background-size: cover, cover!important;
  background-attachment: fixed!important; background-position: center center!important;} 
